# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.spec

# Virtual environment
.venv/

# PyInstaller
build/
dist/
*.manifest
*.spec

# Logs and temp
*.log
*.tmp
*.bak

# Inno Setup output
dist_installer/

# OS files
.DS_Store
Thumbs.db
desktop.ini
.vscode
installer