brotli==1.2.0
cffi==2.0.0
click==8.3.0
cssselect2==0.8.0
fonttools==4.60.1
isort==7.0.0
Jinja2==3.1.6
mypy_extensions==1.1.0
openpyxl==3.1.5
pandas==2.3.3
pathspec==0.12.1
pdfkit==1.0.0
pillow==12.0.0
pip==25.2
platformdirs==4.5.0
pydyf==0.11.0
pyinstaller==6.16.0
PyPDF2==3.0.1
pyphen==0.17.2
pytokens==0.3.0
tinyhtml5==2.0.0
tk==0.1.0
zopfli==0.4.0
